
/* GLOBALS */

body{
    font-family: 'Titillium Web', sans-serif;   
}

h1{
	  text-align: center;
	  padding: 50px;
}

/* CLASSES */

#data-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;
}

#loader {
	width: 100%;
	height: 100%;
	z-index: 2;
}

#info-box {
	opacity: 0%;
	position: absolute;
	color: #fff;
	top: 8px;
	right: 8px;
	width: 200px;
	z-index: 5;
}

#plotbutton {
	display: inherit;
	width: 200px;
	width: 200px;
	margin-bottom: 25px;

}

/* CLASSES */

.side{
	top: 8px;
	height: 100%;
	background-color: #B2FFFF;
	padding: 40px 0px 0px 60px;
}


.content.icon  {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 10;

}

.info.icon  {
	position:  absolute;
	top: 8px;
	right: 8px;
	z-index: 10;

}

.hidden {
	display: none;
}

