
#data-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

body{
    font-family: 'Titillium Web', sans-serif;   
}

h1{
	  text-align: center;
	  padding: 50px;
}

.side{
	height: 100%;
	background-color: #B2FFFF;
}

.sidediv {
	padding-left: 40px;
}

.expand, .collapseicon {
	position:  absolute;
	top: .5em;
	left: .5em;
	z-index: 100;

}